body {
    padding: 0;
    margin: 0
}

#canvas {
    z-index: 1;
    height: 100% !important;
    width: 100% !important;
    image-rendering: pixelated;
    position: fixed;
    left: 0;
    opacity: 1;
    top: 0;
}

#hud {
    z-index: 5;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#miniMap {
    z-index: 10;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 20vh;
    height: 20vh;
}

#settings {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    line-height: 3vh;
    text-align: center;
    padding: 10px;
    z-index: 10;
    width: 30vh;
    height: 50vh;
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(0, 255, 0, 0.2);
    opacity: 0;
}